# dependencies
node_modules
node_modules/

# next
dist
.next
out/

# contentlayer
.contentlayer

# yarn
yarn.lock
yarn-error.log

# mac
.DS_Store

.vercel/

.env

# editor
client_secret.json
.cache.json
